language: cpp
sudo: true
services:
  - docker

# safelist
branches:
  only:
  - master
  - dev-travis

before_script:
  - docker build -t icl-${target} - < packaging/docker/${target}/Dockerfile

script:
  - docker --version
  - docker run -ti --mount type=bind,source=${TRAVIS_BUILD_DIR},target=/home/user/workspace -e variant=test -e ICL_OPTIONS="${ICL_OPTIONS}" -e HOST_USER_ID=$(id -u) -e HOST_USER_GID=$(id -g) -e CXX=$CXX -e CC=$CC icl-${target}

include: &SIMPLE
  addons:
    apt:
      packages:
        - docker-ce
  env:
    - target=bionic
    - ICL_OPTIONS="\
        -DICL_DEACTIVATED_WARNING=-Wno-deprecated-declarations;-Wno-deprecated-register;-Wno-deprecated \
        -DBUILD_TESTS=ON"

include: &EXTENDED
  <<: *SIMPLE
  env:
    - target=bionic
    - ICL_OPTIONS="\
          -DBUILD_WITH_OPENCV=ON \
          -DBUILD_WITH_QT=ON \
          -DBUILD_WITH_OPENGL=ON \
          -DBUILD_WITH_EIGEN3=ON \
          -DBUILD_WITH_IMAGEMAGICK=ON \
          -DBUILD_WITH_LIBAV=ON \
          -DBUILD_WITH_LIBDC=ON \
          -DBUILD_WITH_LIBFREENECT=ON \
          -DBUILD_WITH_V4L=ON \
          -DBUILD_WITH_LIBUSB=ON \
          -DBUILD_WITH_ZMQ=ON \
          -DBUILD_WITH_OPENCL=ON \
          -DBUILD_WITH_OPENNI=ON \
          -DBUILD_WITH_PCL=ON \
          -DBUILD_WITH_BULLET=ON \
          -DBUILD_WITH_BULLET_OPTIONAL=ON \
          -DBUILD_EXAMPLES=ON \
          -DBUILD_DEMOS=ON \
          -DBUILD_APPS=ON \
          -DBUILD_TESTS=ON \
          -DICL_DEACTIVATED_WARNING=-Wno-deprecated-declarations;-Wno-deprecated-register;-Wno-deprecated \
          -DBUILD_REDIST=DEB"

include: &PROPRIETARY
    <<: *EXTENDED
    env:
      - target=bionic
      - ICL_OPTIONS="\
          -DBUILD_WITH_OPENCV=ON \
          -DBUILD_WITH_QT=ON \
          -DBUILD_WITH_OPENGL=ON \
          -DBUILD_WITH_EIGEN3=ON \
          -DBUILD_WITH_IMAGEMAGICK=ON \
          -DBUILD_WITH_LIBAV=ON \
          -DBUILD_WITH_LIBDC=ON \
          -DBUILD_WITH_LIBFREENECT=ON \
          -DBUILD_WITH_V4L=ON \
          -DBUILD_WITH_LIBUSB=ON \
          -DBUILD_WITH_ZMQ=ON \
          -DBUILD_WITH_OPENCL=ON \
          -DBUILD_WITH_OPENNI=ON \
          -DBUILD_WITH_PCL=ON \
          -DBUILD_WITH_BULLET=ON \
          -DBUILD_WITH_BULLET_OPTIONAL=ON \
          -DBUILD_EXAMPLES=ON \
          -DBUILD_DEMOS=ON \
          -DBUILD_APPS=ON \
          -DBUILD_TESTS=ON \
          -DICL_DEACTIVATED_WARNING=-Wno-deprecated-declarations;-Wno-deprecated-register;-Wno-deprecated \
          -DBUILD_REDIST=DEB \
          -DBUILD_WITH_MKL=ON \
          -DBUILD_WITH_IPP=ON"


include: &OSX
  env:
    - ICL_OPTIONS="\
          -DCMAKE_MODULE_PATH=/usr/local/share/cmake/Modules \
          -DBUILD_APPS=On \
          -DBUILD_DEMOS=On \
          -DBUILD_EXAMPLES=On \
          -DBUILD_WITH_OPENCV=On \
          -DOPENCV_ROOT='/usr/local/opt/opencv@3/share/OpenCV/' \
          -DBUILD_WITH_QT=On \
          -DQT_ROOT=/usr/local/opt/qt5 \
          -DBUILD_WITH_OPENGL=On \
          -DBUILD_WITH_IMAGEMAGICK=On \
          -DBUILD_WITH_LIBAV=On \
          -DBUILD_WITH_LIBDC=On \
          -DBUILD_WITH_EIGEN3=On \
          -DBUILD_TESTS=ON"

matrix:
  include:
    - <<: *SIMPLE
      compiler: gcc
    - <<: *EXTENDED
      compiler: gcc
    - <<: *EXTENDED
      compiler: clang
    # - <<: *PROPRIETARY  # TODO: add again when dev-ipp is finished
    #   compiler: gcc
    - <<: *OSX
      os: osx
      before_script:
        - brew update
        - HOMEBREW_NO_AUTO_UPDATE=1 brew install iclcv/homebrew-formulas/icl --only-dependencies || true
        - HOMEBREW_NO_AUTO_UPDATE=1 brew install lcov glog
        - brew link --force imagemagick@6
      script:
        - mkdir -p build
        - cd build
        - cmake -DCMAKE_INSTALL_PREFIX=/tmp/icl ${ICL_OPTIONS} ..
        - make -j 3
        - make test
        - make install
