# syntax is very easy
# each line is token SPACE rest

# [general]

# build version release or debug (default=release)
version release

# architecture dependent build (default=false)
arch false

# installation prefix (default=/vol/nivision)
prefix

# build directory (default=build/$version)
build

# [components]
# components that have no file are searched in /usr
# components that are not listed (or commented out)
# are switched off. Space is not allowed after the tokens
# comments are not allowed after used tokens
ipp /vol/nivision/share/IPP/6.0
mkl /vol/nivision/share/MKL/10.2-ia32
xine /vol/nivision
xcf /vol/xcf
libfreenect /vol/nivision
libmesasr /vol/nivision
gtest /vol/nivision/share
opensurf /vol/nivision
opencv /vol/nivision/share/opencv
libz
libjpeg
unicap
qt
opengl 
glx
libdc
imagemagick
videodev
libpng

# always have a newline at the end of file